*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    display:flex;
    height:100vh;
    overflow:hidden;
}

.pages{
  flex: 1;
    overflow-y:auto;
}

:root{
    --primary:#4F46E5;
    --primary-hover:#4338CA;

    --accent:#10B981;

    --bg:#F8FAFC;
    --surface:#FFFFFF;
    --surface-2:#F1F5F9;

    --text:#0F172A;
    --text-light:#475569;

    --border:#E2E8F0;
}

[data-theme="dark"]{

    --primary:#6366F1;
    --primary-hover:#818CF8;

    --accent:#34D399;

    --bg:#0F172A;
    --surface:#1E293B;
    --surface-2:#334155;

    --text:#F8FAFC;
    --text-light:#CBD5E1;

    --border:#334155;
}

